<% @questions.each do | question |  %>
  <div class="rather-title">
    <p>Would you rather....</p>
  </div>
    <% question.answers.each do |answer| %>
    <div class="rather-choice">
      <div class="answer-display">
        <%= answer.content %>
      </div>
      <div class="answer-vote-display" id="answer-id-<%= answer.id %>">
        <%= answer.votes.count %>
      </div>
      <%= button_to "Vote", question_answer_votes_path(question, answer), remote: true, params: {:current_user => current_user}, id: "vote-id-#{answer.id}" %>
    </div>
    <% end %>
<% end %>
