<%= render('layouts/errors', :object => @question) %>
<h1>Questions</h1>
<% if current_user %>
  <%= render "form" %>
<% end %>
<div class="questions">
  <%= render "questions", :questions => @questions %>
</div>
